{% extends 'base.html' %} {% block content %}
<h1 class="text-center mb-5">{{ question.question_text }}</h1>

<ul class="list-group mb-5">
  {% for choice in question.choice_set.all %}
  <li class="list-group-item">  
    {{ choice.choice_text }}
    <span class="badge alert-success" style="float: right">
      {{ choice.votes }} vote{{ choice.votes | pluralize }}
    </span>
  </li>

  {% endfor %}
</ul>

<a class="btn btn-secondary" href="{% url 'polls:index' %}">Back to Polls</a>
<a class="btn btn-dark" href="{% url 'polls:detail' question.id %}"
  >Vote Again</a
>
{% endblock %}
