{% extends 'base.html' %}
{% block content %}

<div class="card text-center">
    <div class="card-body">
        <h1 style="padding-bottom: 15px">WELCOME TO POLLSTER<h1>
        <h4 style="padding-bottom: 7px">This is a sample Django polling app used for Django training</h4>
        <a class="btn btn-dark" href="{% url 'polls:index' %}">
            View Open Polls
        </a>
    <div>
<div>

{% endblock %}